@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

:root {
    --primary-color: #1E3A8A;
    --secondary-color: rgb(1, 1, 114);
}

body {
    background-color: var(--primary-color);
    color: white;
    font-family: 'Glory', sans-serif;
}
.container {
    width: 60%;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}
input, label {
    display: block;
    margin:auto;
   
}

input {
    width: 50%;
    margin-bottom: 1rem;
}

#check-number {
    display: block;
    margin-top: 1rem;
    margin: auto;
}

#output-txt {
    font-size:x-large;
}